extends ../layout

block content
    style.
        .elipsis {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    p.br-box
    each movie, index in movies
        div.w3-container.w3-border-bottom.movie_list
            div.w3-row-padding.row
                if movie.image
                    img(src=movie.image)
                else
                    div.w3-border.w3-border-blue.img_box
                div.p_tag
                    h5
                        // HTML 코드에 보이는 주석
                        //- HTML 코드에 보이지 않는 주석
                        //- !{} : html tag가 포함된 문자열을 tag를 반영하면서 표현
                        a(href=movie.link) !{movie.title}
                    p.w3-opacity= movie.subtitle
                    p= movie.pubDate	
                    p= movie.director
                    p= movie.actor
                    p.elipsis= movie.userRating
    p.br-box



















            	
	
	
	

	
	
